body {
  padding-top: 5rem;
}
.starter-template {
  padding: 1.5rem 1.5rem;
  text-align: center;
}

.latest-models {
    text-align: center;
    padding-top: 5rem;
}

.signup {
}

.login {
    padding-top: 7%;
}

.detail-img{
    text-align: center;
    width: 600px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.detail-sneaker-author {
    margin-top: -35px;
    margin-bottom: -10px;
}

.user-avatar {
    width: 100px;
    height: 100px;
}

.user-avatar-list {
    width: 30px;
    height: 30px;
}

.user-sneakers-list {
    text-align: center;
    padding-top: 5px;
}

.change-pass {
    text-align: center;
    padding-top: -5px;
}