{% extends 'base.html' %}
{% load static %}

{% block content %}

    <main role="main" class="container">

      <div class="starter-template">
        <h1>Wanted to buy or sell sneakers? 👟</h1>
        <p class="lead">Don't waste your time and look out at our <a href="{% url 'sneakers' %}">marketspace</a></p>
      </div>


  <div class="latest-models">
      <h4>Latest models:</h4>
      <div class="row">
        {% for sneaker in sneakers %}
          <div class="col-lg-4 col-md-6 mb-4">
              <figure class="imghvr-fade">
                <img class="img-fluid" src="{{ sneaker.model_photo.url }}" alt="">
                <figcaption>
                    {{ sneaker.model_name }}
                </figcaption>
                    <a href="{% url 'sneaker-details' sneaker.id %}"></a>
              </figure>
          </div>
      {% endfor %}
  </div>

</main>


{% endblock %}