{% extends 'base.html' %}

{% block content %}

{% include 'partials/_navbar.html' %}

<div class="sneaker-details">
    <div class="detail-sneaker-title">
        <h1 class="text-center">{{ sneakers.model_name }}</h1><br>
    <div class="detail-sneaker-author">
        <p class="text-muted text-center">Posted by {{ sneakers.author }}</p>
        <p class="text-muted text-center">Price ${{ sneakers.model_price }}</p>
        {% if request.user == sneakers.author %}
        <p class="text-muted text-center"><a href="{% url 'delete-sneakers' sneakers.id %}">Delete</a></p>
        <p class="text-muted text-center"><a href="{% url 'sneaker-edit' sneakers.id %}">Edit</a></p>
        {% endif %}
    </div>
    </div>
    <div class="detail-img">
        <img class="img-fluid" src="{{ sneakers.model_photo.url }}" alt="">
    </div>
</div>
{% endblock content %}