{% extends 'base.html' %}

{% block content %}
{% include 'partials/_navbar.html' %}

<div class="starter-template">
    <span> <img src="{{ user.avatar.url }}" alt="..." class="img-thumbnail user-avatar"></span>
    <h1>This is <b>{{ user.username }}</b> profile 👋</h1>
</div>


  <div class="latest-models">
      <h4>{{ user.username }}'s sneakers:</h4>
      <div class="row">
          <div class="col-lg-4 col-md-6 mb-4">
              <figure class="imghvr-fade">
                <img class="img-fluid" src="{{ sneakers.model_photo.url }}" alt="">
                <figcaption>
                    {{ user.username }}
                    {{ sneakers.author }}
                </figcaption>
              </figure>
          </div>
            <div class="starter-template">
                <p class="lead">This user didn't add sneakers</p>
            </div>


{% endblock %}